// Define variables for your color scheme

// For example:
$red: #fd1015;
//$blue: #0D6EFD;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$blue: rgb(96, 191, 193);
$light-blue: rgb(186, 223, 215);
$light-pink: rgb(247, 227, 218);
$pink: rgb(253, 183, 185);
$dark-pink: rgb(193, 119, 121);
$light-green: rgb(217, 255, 247);
