// Specific CSS for your home-page
h1 {
  color: $dark-pink;
  font-family: "Bebas Neue";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: $light-pink;
}

.relative-container {
  position: relative;
}

.absolute-span {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.typed-text {
  font-size: 40px; /* Adjust the font size as needed */
}

.banner {
  background-size: cover;
  background-image: url("index-2.jpg");
  background-position: center;
  padding: 150px 0;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.lower-box {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 16px;
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
}

#exampleModal {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#exampleModal1 {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
