<div class="container my-5">
  <h1 class="mb-4"><strong>Notifications</strong></h1>

  <% if @notifications.any? %>
    <ul class="list-group">
      <% @notifications.each do |notification| %>
        <li class="list-group-item">
          <%= notification.message %>
          <% if !notification.read? %>
            <span class="badge bg-danger">New</span>
          <% end %>
          <%= link_to 'Mark as read', mark_as_read_notification_path(id: notification.id), data: { turbo_method: :patch }, class: 'light-green-button float-end' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No notifications found.</p>
  <% end %>

  <%= link_to 'Back to Rentals', rentals_path, class: 'crimson_button mt-3' %>
</div>
