<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4">Rent <%= @item.name %></h1>

      <%= render 'partials/form', item: @item, rental: @rental %>

      <div class="mt-3">
        <%= link_to 'Back', items_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
